functions
node_modules
public
resources
content/presentations/RD/IC_20210312/data/data0_application.RData
content/presentations/RD/IC_20210312/code/00_optimal_bandwidthv3_test_ppt.R
content/presentations/RD/IC_20210312/data/data1_application.RDataTmp
content/presentations/RD/IC_20210312/data/data1_application.RData
content/presentations/RD/UCSD_20210420/data/data0_application.RData
content/presentations/RD/UCSD_20210420/data/data1_application.RData
content/presentations/RD/UCSD_20210420/data/example_grd.RData
content/presentations/RD/UCSD_20210420/data/example_grd_all.RData
content/presentations/RD/UCSD_20210420/data/grd1.Rdata
content/presentations/RD/UCSD_20210420/data/grd2.Rdata
content/presentations/RD/UCSD_20210420/data/grd3.Rdata
