functions
node_modules
public
resources
content/presentations/RD/IC_20210312/data/data0_application.RData
content/presentations/RD/IC_20210312/code/00_optimal_bandwidthv3_test_ppt.R
content/presentations/RD/IC_20210312/data/data1_application.RDataTmp
content/presentations/RD/IC_20210312/data/data1_application.RData
content/presentations/RD/UCSD_20210420/data/data0_application.RData
content/presentations/RD/UCSD_20210420/data/data1_application.RData
content/presentations/RD/UCSD_20210420/data/example_grd.RData
content/presentations/RD/UCSD_20210420/data/example_grd_all.RData
content/presentations/RD/UCSD_20210420/data/grd1.Rdata
content/presentations/RD/UCSD_20210420/data/grd2.Rdata
content/presentations/RD/UCSD_20210420/data/grd3.Rdata
content/presentations/RD/UCSD_20210420/mbennett_grd_annotate.Rmd
content/presentations/RD/UCSD_20210420/mbennett_grd_annotate.Rmd
content/presentations/RD/UCSD_20210420/mbennett_grd_cache/html/grd1_9e25d5a312fb8e11b1b432a4815ff812.rdb
content/presentations/RD/UCSD_20210420/mbennett_grd_cache/html/grd5b_eeb0cea34641038af1ef8584aaacd04d.rdb
content/presentations/RD/UCSD_20210420/mbennett_grd_cache/html/unnamed-chunk-2_6fe587053867914479afa401c90f35fd.rdb
*.RData
*.rdb
*.rdx
*.RData
