{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <p style="text-align:center;"><img src="/images/maibennett_logo512.png" width="168" height="144"></p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "https://www.magdalenabennett.com" | absURL }}" role="button">Go to main website</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ .Site.Data.doks.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="row justify-content-center">
  <div class="col-lg-9 text-center">
  <h2 class="h2" style="text-align:center;">Highlighted Presentations</h2>
</div>
</div>
</section>
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">


      <div class="col-lg-5">
        <h2 class="h4"><a href="https://slides.magdalenabennett.com/docs/attendance/attendance_20220519/">Microsoft Research Seminar</a></h2>
        <p><i>Economics Research Group - Microsoft</i></p>
        <p>Date: 05-19-2022</p>
        <p><b>"Beyond exclusion: The role of the causal effect of testing on attendance on the day of the test"</b></p>
        <a class="btn btn-link btn-sm px-4 mb-2" href="{{ "https://github.com/maibennett/presentations/blob/main/content/presentations/Attendance/Microsoft_20220519/mbennett_attendance.Rmd" | absURL }}" role="button">Download code &#128187;</a>
        <div class="container">
        <p style="text-align:center;"><a href="https://raw.githack.com/maibennett/presentations/main/content/presentations/Attendance/Microsoft_20220519/mbennett_attendance.html"><img src="/images/attendance.png"  height = "184" width="318"></a></p>
        </div>
      </div>

      <div class="col-lg-5">
        <h2 class="h4"><a href="https://slides.magdalenabennett.com/docs/dynamicchoice/aefpeddev_20220225">AEFP Development Group Meeting</a></h2>
        <p><i>Association for Education Finance and Policy</i></p>
        <p>Date: 02-25-2022</p>
        <p><b>"Biased Beliefs and the Dynamic Role of Information in College Choice"</b></p>
        <a class="btn btn-link btn-sm px-4 mb-2" href="{{ "https://github.com/maibennett/presentations/blob/main/content/presentations/dynamicchoice/aefpeddev_20220225/mbennett_dynamicchoice.Rmd" | absURL }}" role="button">Download code &#128187;</a>
        <div class="container">
        <p style="text-align:center;"><a href="https://raw.githack.com/maibennett/presentations/main/content/presentations/Ddynamicchoice/aefpeddev_20220225/mbennett_dynamicchoice.html"><img src="/images/dynamicchoice.png" height = "184" width="318"></a></p>
        </div>
      </div>

      <div class="col-lg-5">
        <h2 class="h4"><a href="https://slides.magdalenabennett.com/docs/dd/asa_20210609">American Statistical Association</a></h2>
        <p><i>Austin Chapter</i></p>
        <p>Date: 06-09-2021</p>
        <p><b>" Differences-in-Differences Approach using Integer Programming Matching"</b></p>
        <a class="btn btn-link btn-sm px-4 mb-2" href="{{ "https://github.com/maibennett/presentations/blob/main/content/presentations/DD/asa_20210609/mbennett_did.Rmd" | absURL }}" role="button">Download code &#128187;</a>
        <div class="container">
        <p style="text-align:center;"><a href="https://raw.githack.com/maibennett/presentations/main/content/presentations/DD/asa_20210609/mbennett_did.html"><img src="/images/diff_scenarios.png" height = "184" width="318" ></a></p>
        </div>
      </div>
    
<!--     <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div> -->
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
